@using CamDoAnhTu.Models


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    User us = new User();
    //us = (User)Session["CurUser"];
    HttpCookie reqCookies = Request.Cookies["userInfo"];
    if (reqCookies != null)
    {
        us.UserName = reqCookies["username"].ToString();
        us.PassWord = reqCookies["password"].ToString();
        us.Permission = Int32.Parse(reqCookies["permisson"].ToString());
        us.id_cuahang = Int32.Parse(reqCookies["id_cuahang"].ToString());
    }

}

<h2>Cầm đồ Thiên Trang</h2>
@if (us.id_cuahang == 1)
{
    <div id="plan-info">
        @Html.Action("Management", "Home", new { type = 5 })
        @Html.Action("Management", "Home", new { type = 8 })
        @Html.Action("XE1", "XE1", new { type = 13 })
        @Html.Action("XE1", "XE1", new { type = 12 })
    </div>
}
else if(us.id_cuahang == 2)
{
    <div id="plan-info">
        @Html.Action("Management", "Home", new { type = 4 })
        @Html.Action("Management", "Home", new { type = 2 })
        @Html.Action("XE1", "XE1", new { type = 14 })
        @Html.Action("XE1", "XE1", new { type = 15 })
    </div>
}
