@model CamDoAnhTu.Models.Customer

@{
    ViewBag.Title = "AddCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link href="~/Assets/bootstrap-fileinput-master/css/fileinput.css" rel="stylesheet" />
    <link href="~/Assets/Simple-Date-Picker-for-Bootstrap/css/datepicker.css" rel="stylesheet" />
    <link href="~/Assets/silviomoreto-bootstrap-select-a8ed49e/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Assets/jquery-ui-1.11.2.custom/jquery-ui.css" rel="stylesheet" />
}

@section js{
    <script src="~/Assets/Simple-Date-Picker-for-Bootstrap/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="~/autoNumeric-master/autoNumeric-master/autoNumeric.js"></script>
    <script src="~/Assets/jquery-ui-1.11.2.custom/jquery-ui.js"></script>
    @*<script src="~/Assets/bootstrap-fileinput-master/js/fileinput.min.js"></script>*@
    @*<script src="~/Assets/silviomoreto-bootstrap-select-a8ed49e/dist/js/bootstrap-select.min.js"></script>*@

    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script>
        $.validator.addMethod("imageOnly", function (value, element) {
            return this.optional(element) || /^.+\.(jpg|JPG|png|PNG)$/.test(value);
        });

        $("#frmaAddCustomer").validate({
            rules: {
                'model.Code': {
                    required: true
                    //codeCheck: true
                },
                'model.Name': {
                    required: true
                },
                'model.fuMain': {
                    imageOnly: true
                },
                'model.Phone': {
                    required: true,
                    number: true,
                    minlength: 10,
                    maxlength: 11
                },
                'model.Address': {
                    required: true
                },
                'model.Price': {
                    required: true,
                    number: true
                },
                'model.Loan': {
                    required: true,
                    number: true
                }
            },
            messages: {
                'model.Code': {
                    required: 'Chưa nhập mã số'
                    //codeCheck: 'Mã số này đã tồn tại'
                },
                'model.Name': {
                    required: 'Chưa nhập tên khách hàng'
                },
                'model.fuMain': {
                    imageOnly: 'Không đúng định dạng hình ảnh'
                },
                'model.Phone': {
                    required: 'Chưa nhập số điện thoại',
                    number: 'Nhập sđt không đúng định dạng',
                    minlength: 'Ít nhất 10 số',
                    maxlength: 'Nhiều nhất 11 số'
                },
                'model.Address': {
                    required: 'Chưa nhập địa chỉ'
                },
                'model.Price': {
                    required: 'Chưa nhập số tiền phải trả trong 1 ngày',
                    number: 'Phải là số'
                },
                'model.Loan': {
                    required: 'Chưa nhập tổng nợ',
                    number: 'Phải là số'
                }

            },
            errorElement: 'span',
            errorClass: 'help-block',
            //errorPlacement: function (error, element) {
            //    var alertDiv = $('.alert-warning', $('#registerForm'));
            //    error.appendTo(alertDiv);
            //},

            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            success: function (label) {
                label.closest('.form-group').removeClass('has-error');
                //label.closest('.form-group').removeClass('has-success');

                //var name = label.attr('for');
                //$('[name=' + name + ']').closest('.form-group').removeClass('has-error');
                label.remove();
            }

        });

        $('.selectpicker').selectpicker();
        $('input[type=file]').bootstrapFileInput();

        $("#fuMain").fileinput({
            'allowedFileExtensions': ['jpg', 'png', 'gif']
        });

    </script>


    <script>
        jQuery(function ($) {
            $('.auto').autoNumeric('init', { vMax: '99999999999999999' });
        });

    </script>

    <script type="text/javascript">
        $('form').submit(function () {
            var form = $(this);
            $('input').each(function (i) {
                var self = $(this);
                try {
                    var v = self.autoNumeric('get');
                    self.autoNumeric('destroy');
                    self.val(v);
                } catch (err) {
                    console.log("Not an autonumeric field: " + self.attr("name"));
                }
            });
            return true;
        });
    </script>
    <script>

        $(function () {
            $("#model_StartDate").datepicker({ dateFormat: "dd/mm/yy" }).val();
        });

    </script>

}


<h2 style="font-size: 30px; color: red;border: firebrick">Thêm Khách hàng</h2>
<form class="form-horizontal" method="post" action="" id="frmaAddCustomer" enctype="multipart/form-data">
    @*<input type="hidden" class="form-control" id="txtStartDate" name="StartDate" value="@DateTime.Now" />*@
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <div class="alert alert-warning alert-dismissable hidden" role="alert">
                <button type="button" class="close" data-dissmiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <img class="file-preview-image" style="height: 160px;width: auto" title="@Model.Name" alt="@Model.Name" src="~/image/@Model.Code/main.jpg" />
        </div>

    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Hình ảnh:</label>
        <input type="file" data-filename-placement="inside" id="fuMain" class="file" name="fuMain" />
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Mã số:</label>
        <div class="col-sm-2">
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @readonly = "readonly" })
            <span id="userError"></span>
        </div>
        <label class="col-sm-2 control-label">Tên khách hàng:</label>
        <div class="col-sm-2">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
        <label class="col-sm-2 control-label">Điện thoại:</label>
        <div class="col-sm-2">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">

        <label class="col-sm-2 control-label">Ngày bắt đầu:</label>
        <div class="col-sm-2">
            @Html.TextBoxFor(m => m.StartDate, Model.StartDate.ToString("dd/MM/yyyy"),
               new { @class = "form-control" })
        </div>
        <label class="col-sm-2 control-label">Địa chỉ:</label>
        <div class="col-sm-2">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        </div>
        <label class="col-sm-2 control-label">Số tiền vay:</label>
        <div class="col-sm-2">
            @Html.TextBoxFor(m => m.Loan, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Số ngày phải trả:</label>
        <div class="col-sm-2">
            @Html.TextBoxFor(m => m.songayno, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <label class="col-sm-2 control-label">Tên tài sản:</label>
        <div class="col-sm-2">
            @Html.TextBoxFor(m => m.tentaisan, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <label class="col-sm-2 control-label">Số tiền đứng:</label>
        <div class="col-sm-2">
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control auto" })
        </div>
    </div>
    <div>
        <label class="col-sm-2 control-label">Ghi chú:</label>
        @Html.TextAreaFor(m => m.Note, 10, 55, null)
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-check"></i>&nbsp;Lưu
            </button>
            <a class="btn btn-success" href="@Url.Action("LoadCustomerAX","Home")" role="button">
                <i class="fa fa-mail-reply"></i>Trang khách hàng
            </a>
        </div>
    </div>
</form>